{% extends 'body_template.html' %}
{% load staticfiles %}

{% block body %}

    <script language="javascript" type="text/javascript">

    </script>


<div id="main">
        <div id="content">
            <div id="hotcontent">
                <div class="ll">
                    {% for zhan in zhans %}
                        <div class="item">
                            <div class="image"><a href=" /chapter/?id={{ zhan.id }}"><img src="{{ zhan.book_img }}" alt="{{ zhan.book_name }}" width="120" height="150"></a>
                            </div>
                            <dl>
                                <dt><span>{{ zhan.book_author }}</span><a href="/chapter/?id={{ zhan.id }}">{{ zhan.book_name }}</a></dt>
                                <dd> {{ zhan.book_intro }}</dd>
                            </dl>
                            <div class="clear"></div>
                        </div>
                    {% endfor %}

                    <div class="item">
                        <div class="image"><a href="http://www.xbiquge.la/15/15409/"><img
                                src="{% static 'bqg_files/15409s.jpg' %}" alt="牧神记" width="120" height="150"></a></div>
                        <dl>
                            <dt><span>宅猪</span><a href="http://www.xbiquge.la/15/15409/">牧神记</a></dt>
                            <dd> 大墟的祖训说，天黑，别出门。大墟残老村的老弱病残们从江边捡到了一个婴儿，取名秦牧，含辛茹苦将他养大。 这一天夜幕降临，黑暗笼罩大墟，秦牧走出了家门……做个春...</dd>
                        </dl>
                        <div class="clear"></div>
                    </div>

                    <div class="item">
                        <div class="image"><a href="http://www.xbiquge.la/14/14997/"><img
                                src="{% static 'bqg_files/14997s.jpg' %}" alt="太古龙象诀" width="120" height="150"></a></div>
                        <dl>
                            <dt><span>旺仔老馒头</span><a href="http://www.xbiquge.la/14/14997/">太古龙象诀</a></dt>
                            <dd> 一滴血压塌万古，一叶草斩碎苍穹。曾经最为强大的太古禁忌神术太古龙象诀失传亿万年。无尽岁月后，落魄少年林枫偶得太古第一禁忌神术太古龙象诀。当林枫从世界最北部一个偏远...
                            </dd>
                        </dl>
                        <div class="clear"></div>
                    </div>

                    <div class="item">
                        <div class="image"><a href="http://www.xbiquge.la/14/14930/"><img
                                src="{% static '分类页面展示_files/14930s.jpg' %}" alt="元尊" width="120" height="150"></a></div>
                        <dl>
                            <dt><span>天蚕土豆</span><a href="http://www.xbiquge.la/14/14930/">元尊</a></dt>
                            <dd> 吾有一口玄黄气，可吞天地日月星。天蚕土豆最新鼎力大作，2017年度必看玄幻小说。
                            </dd>
                        </dl>
                        <div class="clear"></div>
                    </div>

                    <div class="item">
                        <div class="image"><a href="http://www.xbiquge.la/10/10512/"><img
                                src="{% static '分类页面展示_files/10512s.jpg' %}" alt="人皇纪" width="120" height="150"></a></div>
                        <dl>
                            <dt><span>皇甫奇</span><a href="http://www.xbiquge.la/10/10512/">人皇纪</a></dt>
                            <dd> javascript:share({content:'　　我不能把这个世界，让给我所鄙视的人！ 所以，王冲踩着枯骨血海，踏上人皇宝座，挽狂澜于既倒...</dd>
                        </dl>
                        <div class="clear"></div>
                    </div>

                    <div class="item">
                        <div class="image"><a href="http://www.xbiquge.la/0/951/"><img src="{% static '分类页面展示_files/951s.jpg' %}"
                                                                                       alt="伏天氏" width="120"
                                                                                       height="150"></a></div>
                        <dl>
                            <dt><span>净无痕</span><a href="http://www.xbiquge.la/0/951/">伏天氏</a></dt>
                            <dd> 东方神州，有人皇立道统，有圣贤宗门传道，有诸侯雄踞一方王国，诸强林立，神州动乱千万载，执此之时，一代天骄叶青帝及东凰大帝横空出世，斩人皇，驭圣贤，诸侯臣服，东方神...
                            </dd>
                        </dl>
                        <div class="clear"></div>
                    </div>

                    <div class="item">
                        <div class="image"><a href="http://www.xbiquge.la/2/2210/"><img src="{% static '分类页面展示_files/2210s.jpg' %}"
                                                                                        alt="全职法师" width="120"
                                                                                        height="150"></a></div>
                        <dl>
                            <dt><span>乱</span><a href="http://www.xbiquge.la/2/2210/">全职法师</a></dt>
                            <dd>一觉醒来，世界大变。
                                熟悉的高中传授的是魔法，告诉大家要成为一名出色的魔法师。
                                居住的都市之外游荡着袭击人类的魔物妖兽，虎视眈眈。
                                崇尚科学的世界变成了崇尚魔法，偏...
                            </dd>
                        </dl>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>

            <div id="newscontent">
                <div class="l">
                    <h2>好看的{{classify }}最近更新列表</h2>
                    <ul>
                        {% for updatum in updata %}
                            <li><span class="s2">《<a href=" /chapter/?id={{ updatum.id }}" target="_blank">{{ updatum.book_name }}</a>》</span><span class="s3"><a href="#" target="_blank">{{ updatum.book_update |date:'Y-m-d H:i:s'}}</a></span><span class="s5">{{ updatum.book_author }}</span>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="page_b">
                        <table style="">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="pagelink" id="pagelink">
                                        <em id="pagestats">1/348</em>
                                        <a href="http://www.xbiquge.la/fenlei/1_1.html" class="first">1</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_1.html"class="pgroup">&lt;&lt;</a>
                                        <strong>1</strong>

                                        <a href="http://www.xbiquge.la/fenlei/1_2.html">2</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_3.html">3</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_4.html">4</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_5.html">5</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_6.html">6</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_2.html" class="next">&gt;</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_348.html" class="ngroup">&gt;&gt;</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_348.html" class="last">348</a>
                                        <kbd><input name="page" type="text" size="4" maxlength="6" onkeydown="">
                                        </kbd>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="r">
                    <h2>好看的{{ classify }}</h2>
                    <ul>
                        {% for foo in hao %}
                            <li><span class="s2"><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></span><span class="s5">{{ foo.book_author }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="page_b page_b2">喜欢就收藏我们</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}