{% extends 'body_template.html' %}
{% load staticfiles %}

{% block body %}

    <script language="javascript" type="text/javascript">

    </script>


<div id="main">
        <div id="content">
            <div id="hotcontent">
                <div class="ll">
                    {% for zhan in zhans %}
                        <div class="item">
                            <div class="image"><a href=" /chapter/?id={{ zhan.id }}"><img src="{{ zhan.book_img }}" alt="{{ zhan.book_name }}" width="120" height="150"></a>
                            </div>
                            <dl>
                                <dt><span>{{ zhan.book_author }}</span><a href="/chapter/?id={{ zhan.id }}">{{ zhan.book_name }}</a></dt>
                                <dd> {{ zhan.book_intro }}</dd>
                            </dl>
                            <div class="clear"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="newscontent">
                <div class="l">
                    <h2>好看的{{classify }}最近更新列表</h2>
                    <ul>
                        {% for updatum in updata %}
                            <li><span class="s2">《<a href=" /chapter/?id={{ updatum.id }}" target="_blank">{{ updatum.book_name }}</a>》</span><span class="s3"><a href="#" target="_blank">{{ updatum.book_update |date:'Y-m-d H:i:s'}}</a></span><span class="s5">{{ updatum.book_author }}</span>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="page_b">
                        <table style="">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="pagelink" id="pagelink">
                                        <em id="pagestats">1/348</em>
                                        <a href="http://www.xbiquge.la/fenlei/1_1.html" class="first">1</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_1.html"class="pgroup">&lt;&lt;</a>
                                        <strong>1</strong>

                                        <a href="http://www.xbiquge.la/fenlei/1_2.html">2</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_3.html">3</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_4.html">4</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_5.html">5</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_6.html">6</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_2.html" class="next">&gt;</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_348.html" class="ngroup">&gt;&gt;</a>
                                        <a href="http://www.xbiquge.la/fenlei/1_348.html" class="last">348</a>
                                        <kbd><input name="page" type="text" size="4" maxlength="6" onkeydown="">
                                        </kbd>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="r">
                    <h2>好看的{{ classify }}</h2>
                    <ul>
                        {% for foo in hao %}
                            <li><span class="s2"><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></span><span class="s5">{{ foo.book_author }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="page_b page_b2">喜欢就收藏我们</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}