{% extends 'body_template.html' %}
{% load staticfiles %}

{% block body %}

    <div id="main">

        <div id="hotcontent">


            <div class="l">


                <div class="item">
                    <div class="image"><a href=""><img src="{% static 'bqg_files/10489s.jpg' %}"
                                                                                      alt="三寸人间" width="120"
                                                                                      height="150"></a></div>
                    <dl>
                        <dt><span>耳根</span><a href="http://www.xbiquge.la/10/10489/">三寸人间</a></dt>
                        <dd> 举头三尺无神明，掌心三寸是人间。这是耳根继《仙逆》《求魔》《我欲封天》《一念永恒》后，创作的第五部长篇小说《三寸人间》。</dd>
                    </dl>
                    <div class="clear"></div>
                </div>


                <div class="item">
                    <div class="image"><a href="http://www.xbiquge.la/13/13959/"><img src="{% static 'bqg_files/13959s.jpg' %}"
                                                                                      alt="圣墟" width="120" height="150"></a>
                    </div>
                    <dl>
                        <dt><span>辰东</span><a href="http://www.xbiquge.la/13/13959/">圣墟</a></dt>
                        <dd> 在破败中崛起，在寂灭中复苏。
                            沧海成尘，雷电枯竭，那一缕幽雾又一次临近大地，世间的枷锁被打开了，一个全新的世界就此揭开神秘的一角……
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>


                <div class="item">
                    <div class="image"><a href="http://www.xbiquge.la/0/419/"><img src="{% static 'bqg_files/419s.jpg' %}"
                                                                                   alt="绝品邪少" width="120" height="150"></a>
                    </div>
                    <dl>
                        <dt><span>陨落星辰</span><a href="http://www.xbiquge.la/0/419/">绝品邪少</a></dt>
                        <dd> 谭笑笑说：我是极品美女！ 彭莹诗说：我是极品御姐！ 尹宝儿说：我是极品萝莉！ 上官无道说：我还是极品公子呢……
                            叶潇震撼登场：吵什么吵，少爷才是主角，少爷的口号是践踏一切极品，只做人间绝品！ 【PS：陨落星辰自《校园风流邪神》之后又一都市巅峰...
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>


                <div class="item">
                    <div class="image"><a href="http://www.xbiquge.la/15/15003/"><img src="{% static 'bqg_files/15003s.jpg' %}"
                                                                                      alt="道君" width="120" height="150"></a>
                    </div>
                    <dl>
                        <dt><span>跃千愁</span><a href="http://www.xbiquge.la/15/15003/">道君</a></dt>
                        <dd> 一个地球神级盗墓宗师，闯入修真界的故事……
                            桃花源里，有歌声。
                            山外青山，白骨山。
                            五花马，千金裘，倚天剑，应我多情，啾啾鬼鸣，美人薄嗔。
                            天地无垠，谁家旗鼓，碧落黄泉，万古高楼。
                            为义气争雄！
                            ...
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>

            </div>


            <div class="r">
                <h2>公告牌</h2>
                <ul>
                    <li><span class="s1">[公告]</span><span class="s2"><a
                            href="" rel="nofollow">发现章节未及时更新请联系我们</a></span>
                    </li>
                </ul>
                <h2>上期强推</h2>
                <ul>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/2/2029/">极品透视</a></span><span class="s5">赤焰圣歌</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a
                            href="http://www.xbiquge.la/15/15409/">牧神记</a></span><span class="s5">宅猪</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a href="http://www.xbiquge.la/20/20948/">最佳女婿</a></span><span
                            class="s5">林羽江颜</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a href="http://www.xbiquge.la/30/30581/">顶级神豪</a></span><span
                            class="s5">北辰本尊</span></li>
                    <li><span class="s1">[穿越]</span><span class="s2"><a href="http://www.xbiquge.la/19/19711/">民国谍影</a></span><span
                            class="s5">寻青藤</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/3/3570/">桃运邪医</a></span><span class="s5">九姑良</span></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="novelslist">

            <div class="content">
                <h2>玄幻小说</h2>
                <div class="top">
                    <div class="image"><img src="{% static 'bqg_files/15409s.jpg' %}" alt="牧神记" width="67" height="82"></div>
                    <dl>
                        <dt><a href="http://www.xbiquge.la/15/15409/">牧神记</a></dt>
                        <dd> 大墟的祖训说，天黑，别出门。大墟残老村的老弱病残们从江边捡到了一个婴儿，取名秦牧，含辛茹苦将他养大。 这一天夜幕降临，黑暗笼罩大墟，秦牧走出了家门……做个春风中荡漾的反派吧！
                            瞎子对他说。秦牧的反派之路，正在崛起！...
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <ul>
                    <li><a href="http://www.xbiquge.la/14/14997/">太古龙象诀</a>/旺仔老馒头</li>
                    <li><a href="http://www.xbiquge.la/14/14930/">元尊</a>/天蚕土豆</li>
                    <li><a href="http://www.xbiquge.la/10/10512/">人皇纪</a>/皇甫奇</li>
                    <li><a href="http://www.xbiquge.la/0/951/">伏天氏</a>/净无痕</li>
                    <li><a href="http://www.xbiquge.la/2/2210/">全职法师</a>/乱</li>
                    <li><a href="http://www.xbiquge.la/7/7877/">斗破苍穹</a>/天蚕土豆</li>
                    <li><a href="http://www.xbiquge.la/7/7931/">终极斗罗</a>/唐家三少</li>
                    <li><a href="http://www.xbiquge.la/6/6318/">全球高武</a>/老鹰吃小鸡</li>
                    <li><a href="http://www.xbiquge.la/21/21223/">召唤梦魇</a>/滚开</li>
                    <li><a href="http://www.xbiquge.la/26/26519/">都市极品医神</a>/风会笑</li>
                    <li><a href="http://www.xbiquge.la/0/10/">武炼巅峰</a>/莫默</li>
                    <li><a href="http://www.xbiquge.la/0/743/">诡秘之主</a>/爱潜水的乌贼</li>
                </ul>
            </div>

            <div class="content">
                <h2>修真小说</h2>
                <div class="top">
                    <div class="image"><img src="{% static 'bqg_files/10489s.jpg' %}" alt="三寸人间" width="67" height="82"></div>
                    <dl>
                        <dt><a href="http://www.xbiquge.la/10/10489/">三寸人间</a></dt>
                        <dd> 举头三尺无神明，掌心三寸是人间。这是耳根继《仙逆》《求魔》《我欲封天》《一念永恒》后，创作的第五部长篇小说《三寸人间》。</dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <ul>
                    <li><a href="http://www.xbiquge.la/7/7004/">遮天</a>/辰东</li>
                    <li><a href="http://www.xbiquge.la/0/205/">执魔</a>/我是墨水</li>
                    <li><a href="http://www.xbiquge.la/6/6930/">天下第九</a>/鹅是老五</li>
                    <li><a href="http://www.xbiquge.la/27/27642/">仙宫</a>/打眼</li>
                    <li><a href="http://www.xbiquge.la/26/26511/">剑徒之路</a>/惰堕</li>
                    <li><a href="http://www.xbiquge.la/1/1693/">诛仙</a>/萧鼎</li>
                    <li><a href="http://www.xbiquge.la/19/19677/">凡人修仙传仙界篇</a>/忘语</li>
                    <li><a href="http://www.xbiquge.la/17/17157/">重生之魔教教主</a>/封七月</li>
                    <li><a href="http://www.xbiquge.la/5/5395/">凡人修仙传</a>/忘语</li>
                    <li><a href="http://www.xbiquge.la/15/15719/">大数据修仙</a>/陈风笑</li>
                    <li><a href="http://www.xbiquge.la/11/11632/">嬉游花丛</a>/赤雪</li>
                    <li><a href="http://www.xbiquge.la/15/15581/">我是仙凡</a>/百里玺</li>
                </ul>
            </div>


            <div class="content border">
                <h2>都市小说</h2>
                <div class="top">
                    <div class="image"><img src="{% static 'bqg_files/20948s.jpg' %}" alt="最佳女婿" width="67" height="82"></div>
                    <dl>
                        <dt><a href="http://www.xbiquge.la/20/20948/">最佳女婿</a></dt>
                        <dd> 人死的时候会有意识吗？会，因为我经历过。这个世界上真的有鬼吗？ 有，因为，我就是。借体重生后，发现他有一个美到窒息的老婆，睡，还是不睡？</dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <ul>
                    <li><a href="http://www.xbiquge.la/30/30581/">顶级神豪</a>/北辰本尊</li>
                    <li><a href="http://www.xbiquge.la/36/36060/">豪婿</a>/绝人</li>
                    <li><a href="http://www.xbiquge.la/26/26154/">天降巨富</a>/陆原居</li>
                    <li><a href="http://www.xbiquge.la/24/24063/">5188</a>/抚琴的人</li>
                    <li><a href="http://www.xbiquge.la/7/7552/">万古神帝</a>/飞天鱼</li>
                    <li><a href="http://www.xbiquge.la/3/3321/">邪王追妻：废材逆天小姐</a>/苏小暖</li>
                    <li><a href="http://www.xbiquge.la/34/34536/">第一神豪</a>/孙翊文</li>
                    <li><a href="http://www.xbiquge.la/33/33241/">他那么暖</a>/安小心</li>
                    <li><a href="http://www.xbiquge.la/34/34918/">一拳无敌</a>/笑饮血</li>
                    <li><a href="http://www.xbiquge.la/15/15029/">重生军工子弟</a>/葫芦村人</li>
                    <li><a href="http://www.xbiquge.la/29/29770/">掌中之物</a>/贝昕</li>
                    <li><a href="http://www.xbiquge.la/27/27747/">第一赘婿</a>/山村小伙夫</li>
                </ul>
            </div>


            <div class="clear"></div>
        </div>

        <div class="novelslist">

            <div class="content">
                <h2>穿越小说</h2>
                <div class="top">
                    <div class="image"><img src="{% static 'bqg_files/19620s.jpg' %}" alt="明朝败家子" width="67" height="82"></div>
                    <dl>
                        <dt><a href="http://www.xbiquge.la/19/19620/">明朝败家子</a></dt>
                        <dd> 弘治十一年。这是一个美好的清晨。此时朱厚照初成年。此时王守仁和唐伯虎磨刀霍霍，预备科举。
                            此时小冰河期已经来临，绵长的严寒肆虐着大地。此时在南和伯府里，地主家的傻儿子，南和伯的嫡传继承人方继藩……开始了他没羞没躁的败家人生。...
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <ul>
                    <li><a href="http://www.xbiquge.la/19/19711/">民国谍影</a>/寻青藤</li>
                    <li><a href="http://www.xbiquge.la/15/15158/">汉乡</a>/孑与2</li>
                    <li><a href="http://www.xbiquge.la/3/3322/">寒门崛起</a>/朱郎才尽</li>
                    <li><a href="http://www.xbiquge.la/18/18245/">秦吏</a>/七月新番</li>
                    <li><a href="http://www.xbiquge.la/1/1030/">远东之虎</a>/贪狼独坐</li>
                    <li><a href="http://www.xbiquge.la/32/32946/">重生之战神吕布</a>/流浪的猴</li>
                    <li><a href="http://www.xbiquge.la/2/2352/">三国大驯兽师</a>/虎豹骑</li>
                    <li><a href="http://www.xbiquge.la/23/23725/">秦时小说家</a>/偶米粉</li>
                    <li><a href="http://www.xbiquge.la/28/28288/">重生之老子是皇帝</a>/贰蛋</li>
                    <li><a href="http://www.xbiquge.la/0/999/">大宋超级学霸</a>/高月</li>
                    <li><a href="http://www.xbiquge.la/17/17161/">北宋大丈夫</a>/迪巴拉爵士</li>
                    <li><a href="http://www.xbiquge.la/8/8089/">寒门状元</a>/天子</li>
                </ul>
            </div>

            <div class="content">
                <h2>网游小说</h2>
                <div class="top">
                    <div class="image"><img src="{% static 'bqg_files/6361s.jpg' %}" alt="英雄联盟：我的时代" width="67" height="82"></div>
                    <dl>
                        <dt><a href="http://www.xbiquge.la/6/6361/">英雄联盟：我的时代</a></dt>
                        <dd> 一个电竞少年的冠军梦！　　一个电竞少年的冠军梦！　　一个电竞少年的冠军梦！</dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <ul>
                    <li><a href="http://www.xbiquge.la/15/15428/">超神机械师</a>/齐佩甲</li>
                    <li><a href="http://www.xbiquge.la/29/29439/">妖龙古帝</a>/遥望南山</li>
                    <li><a href="http://www.xbiquge.la/23/23928/">转生眼中的火影世界</a>/空想之龙</li>
                    <li><a href="http://www.xbiquge.la/37/37254/">木叶之次元聊天群</a>/嗷呜超凶</li>
                    <li><a href="http://www.xbiquge.la/23/23823/">超凡黎明</a>/文抄公</li>
                    <li><a href="http://www.xbiquge.la/35/35321/">从现在开始当渣男</a>/独自赏芳华</li>
                    <li><a href="http://www.xbiquge.la/38/38603/">修仙游戏满级后</a>/文笀</li>
                    <li><a href="http://www.xbiquge.la/24/24191/">篮坛之氪金无敌</a>/肉末大茄子</li>
                    <li><a href="http://www.xbiquge.la/38/38339/">在斗罗继续当熊猫</a>/三方文</li>
                    <li><a href="http://www.xbiquge.la/0/734/">末日领主</a>/想枕头的瞌睡</li>
                    <li><a href="http://www.xbiquge.la/34/34892/">我是传奇BOSS</a>/我为谪仙人</li>
                    <li><a href="http://www.xbiquge.la/36/36288/">开局从无敌天赋开始</a>/叫我小蓝</li>
                </ul>
            </div>

            <div class="content border">
                <h2>科幻小说</h2>
                <div class="top">
                    <div class="image"><img src="{% static 'bqg_files/27149s.jpg' %}" alt="某美漫的特工" width="67" height="82"></div>
                    <dl>
                        <dt><a href="http://www.xbiquge.la/27/27149/">某美漫的特工</a></dt>
                        <dd> 千禧年，马克独自站在坐落于曼哈顿格星辰大厦顶层的公寓落地窗面前，手握着一杯波本威士忌，庆祝自己的三十岁的到来！
                            有个自己把自己掰歪的弟弟，有个从小就励志要当修女，最后跑去当明星的妹妹，还有一个，刚刚觉醒了自己中二天赋，吵着要和平普通人类...
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <ul>
                    <li><a href="http://www.xbiquge.la/15/15006/">轮回乐园</a>/那一只蚊子</li>
                    <li><a href="http://www.xbiquge.la/24/24445/">末世神魔录</a>/不冷的天堂</li>
                    <li><a href="http://www.xbiquge.la/20/20059/">诸天最强大佬</a>/七只跳蚤</li>
                    <li><a href="http://www.xbiquge.la/19/19639/">学霸的黑科技系统</a>/晨星LL</li>
                    <li><a href="http://www.xbiquge.la/15/15791/">诸天时空行</a>/血月客</li>
                    <li><a href="http://www.xbiquge.la/25/25645/">快穿之花式逆袭男神方案</a>/九公主留步</li>
                    <li><a href="http://www.xbiquge.la/24/24034/">纵横诸天的武者</a>/我叫排云掌</li>
                    <li><a href="http://www.xbiquge.la/37/37611/">我能看见经验值</a>/红颜三千</li>
                    <li><a href="http://www.xbiquge.la/28/28879/">诸天万界神龙系统</a>/维斯特帕列</li>
                    <li><a href="http://www.xbiquge.la/22/22871/">电影世界私人订制</a>/昨夜大雨</li>
                    <li><a href="http://www.xbiquge.la/33/33502/">暗月纪元</a>/仐三</li>
                    <li><a href="http://www.xbiquge.la/1/1988/">龙城</a>/方想</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>


        <div id="newscontent">

            <div class="l">
                <h2>最近更新小说列表</h2>
                <ul>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.xbiquge.la/24/24569/"
                                                                          target="_blank">楚少的暖婚旧妻</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/24/24569/18403817.html"
                                          target="_blank">第860章：看个精光</a></span><span class="s4">唯一的迷蝶</span></li>

                    <li><span class="s1">[科幻小说]</span><span class="s2"><a href="http://www.xbiquge.la/37/37696/"
                                                                          target="_blank">比邻</a></span><span class="s3"><a
                            href="http://www.xbiquge.la/37/37696/18403822.html"
                            target="_blank">第一卷  比邻星开拓者 第八十三章 尘埃落定</a></span><span class="s4">颜左关七</span></li>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.xbiquge.la/39/39802/"
                                                                          target="_blank">巨星从创造营开始</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/39/39802/18403821.html" target="_blank">第七十二章：被发现了！</a></span><span
                            class="s4">进击的咸鸭蛋</span></li>

                    <li><span class="s1">[玄幻小说]</span><span class="s2"><a href="http://www.xbiquge.la/34/34401/"
                                                                          target="_blank">仙医小神农</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/34/34401/18403793.html"
                                          target="_blank">第794章差得太远了</a></span><span class="s4">鱼它爸</span></li>

                    <li><span class="s1">[科幻小说]</span><span class="s2"><a href="http://www.xbiquge.la/33/33806/"
                                                                          target="_blank">我的夫君是黄仙</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/33/33806/18403792.html" target="_blank">第346章    阿云的声音</a></span><span
                            class="s4">朵朵来了</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.xbiquge.la/38/38246/"
                                                                          target="_blank">我和巫女有个约会</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/38/38246/18403785.html"
                                          target="_blank">第101章 残剑胜邪</a></span><span class="s4">西湖不是故乡</span></li>

                    <li><span class="s1">[网游小说]</span><span class="s2"><a href="http://www.xbiquge.la/39/39480/"
                                                                          target="_blank">玩家支配者</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/39/39480/18403786.html" target="_blank">第八十八章-当个贴心的老父亲不容易啊</a></span><span
                            class="s4">旧生</span></li>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.xbiquge.la/38/38703/"
                                                                          target="_blank">你在装什么</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/38/38703/18403814.html"
                                          target="_blank">第065章 神车</a></span><span class="s4">杨过年</span></li>

                    <li><span class="s1">[网游小说]</span><span class="s2"><a href="http://www.xbiquge.la/39/39437/"
                                                                          target="_blank">死灵神话</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/39/39437/18403806.html"
                                          target="_blank">第77章 太阳</a></span><span class="s4">羽民</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.xbiquge.la/28/28692/"
                                                                          target="_blank">陆先生的二婚娇妻</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/28/28692/18403809.html" target="_blank">第四百四十七章 从来没打过他</a></span><span
                            class="s4">绿七</span></li>

                    <li><span class="s1">[网游小说]</span><span class="s2"><a href="http://www.xbiquge.la/25/25361/"
                                                                          target="_blank">我在江湖做女侠</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/25/25361/18403808.html"
                                          target="_blank">第638章 核能</a></span><span class="s4">弓诚</span></li>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.xbiquge.la/20/20359/"
                                                                          target="_blank">重回五零当军嫂</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/20/20359/18403804.html"
                                          target="_blank">第668章 人之将死</a></span><span class="s4">海星99</span></li>

                    <li><span class="s1">[网游小说]</span><span class="s2"><a href="http://www.xbiquge.la/30/30313/"
                                                                          target="_blank">吸血姬的堕落</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/30/30313/18403812.html"
                                          target="_blank">新书</a></span><span class="s4">寻雾者</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.xbiquge.la/37/37709/"
                                                                          target="_blank">玄医暖婚：腹黑靳爷，太凶猛！</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/37/37709/18403795.html"
                                          target="_blank">第150章 无情炼狱</a></span><span class="s4">慕玥熙</span></li>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.xbiquge.la/38/38819/"
                                                                          target="_blank">影视世界当首富</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/38/38819/18403820.html" target="_blank">一百七十四章 我不会说第三次</a></span><span
                            class="s4">夜天下</span></li>

                    <li><span class="s1">[穿越小说]</span><span class="s2"><a href="http://www.xbiquge.la/36/36870/"
                                                                          target="_blank">秣马南宋</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/36/36870/18403805.html" target="_blank">第四百八十一章   蛮横无礼</a></span><span
                            class="s4">湖樵散人</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.xbiquge.la/33/33463/"
                                                                          target="_blank">超级骷髅头</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/33/33463/18403807.html"
                                          target="_blank">第290章 怜悯</a></span><span class="s4">鬼手老大</span></li>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.xbiquge.la/14/14058/"
                                                                          target="_blank">都市超级医圣</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/14/14058/18403799.html" target="_blank">第两千三百八十六章 这是属于我的世界</a></span><span
                            class="s4">断桥残雪</span></li>

                    <li><span class="s1">[玄幻小说]</span><span class="s2"><a href="http://www.xbiquge.la/38/38664/"
                                                                          target="_blank">学渣称霸当鬼王</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/38/38664/18403782.html" target="_blank">第二卷 多情人与多情鬼 第五十二章 练剑与修剑</a></span><span
                            class="s4">炖酒</span></li>

                    <li><span class="s1">[修真小说]</span><span class="s2"><a href="http://www.xbiquge.la/15/15446/"
                                                                          target="_blank">一品道门</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/15/15446/18403784.html" target="_blank">第两千两百一十章 逆着时空走来的人影</a></span><span
                            class="s4">第九天命</span></li>

                    <li><span class="s1">[玄幻小说]</span><span class="s2"><a href="http://www.xbiquge.la/38/38831/"
                                                                          target="_blank">星灵仙尊</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/38/38831/18403797.html"
                                          target="_blank">第83章 碰瓷</a></span><span class="s4">顾若飞</span></li>

                    <li><span class="s1">[玄幻小说]</span><span class="s2"><a href="http://www.xbiquge.la/39/39582/"
                                                                          target="_blank">诸天最强大咖</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/39/39582/18403802.html" target="_blank">第二百五十二章 太阴山右君</a></span><span
                            class="s4">两仪之主</span></li>

                    <li><span class="s1">[修真小说]</span><span class="s2"><a href="http://www.xbiquge.la/37/37072/"
                                                                          target="_blank">大魔王娇养指南</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/37/37072/18403794.html" target="_blank">第153章 悬赏动人心</a></span><span
                            class="s4">风行水云间</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.xbiquge.la/24/24465/"
                                                                          target="_blank">妖颜女圣师</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/24/24465/18403810.html" target="_blank">第二百三十六章 魔灾一</a></span><span
                            class="s4">萧山微凉</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.xbiquge.la/38/38572/"
                                                                          target="_blank">状元是我儿砸</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/38/38572/18403801.html" target="_blank">第二十五章云及礼越失踪了</a></span><span
                            class="s4">仙楂</span></li>

                    <li><span class="s1">[玄幻小说]</span><span class="s2"><a href="http://www.xbiquge.la/31/31021/"
                                                                          target="_blank">神级基地</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/31/31021/18403803.html" target="_blank">第六百四十五章 逃亡（为冰石ice兄弟的万赏加更）</a></span><span
                            class="s4">资产暴增</span></li>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.xbiquge.la/34/34783/"
                                                                          target="_blank">重生之彪悍媳妇</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/34/34783/18403788.html" target="_blank">第389章 又来添堵 中</a></span><span
                            class="s4">楼蓉蓉</span></li>

                    <li><span class="s1">[穿越小说]</span><span class="s2"><a href="http://www.xbiquge.la/39/39679/"
                                                                          target="_blank">失落天朝</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/39/39679/18403787.html" target="_blank">第7章 天地之中 嵩山论道诛妖僧（1）</a></span><span
                            class="s4">行济</span></li>

                    <li><span class="s1">[修真小说]</span><span class="s2"><a href="http://www.xbiquge.la/38/38450/"
                                                                          target="_blank">巫中仙</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/38/38450/18403818.html" target="_blank">第一百零八章 无法无天</a></span><span
                            class="s4">雪满林中</span></li>

                    <li><span class="s1">[科幻小说]</span><span class="s2"><a href="http://www.xbiquge.la/35/35396/"
                                                                          target="_blank">末世无敌光环系统</a></span><span
                            class="s3"><a href="http://www.xbiquge.la/35/35396/18403790.html" target="_blank">第233章 陷阱？活下来的希望</a></span><span
                            class="s4">灿诺星河</span></li>

                </ul>
            </div>


            <div class="r">
                <h2>最新入库小说</h2>
                <ul>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40021/">我老婆是房姐</a></span><span class="s5">坤华</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a
                            href="http://www.xbiquge.la/39/39998/">封少宠妻，超甜哒</a></span><span class="s5">橘子夏</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40019/">予你情深终老</a></span><span class="s5">怿心</span></li>
                    <li><span class="s1">[修真]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40013/">师尊又死哪儿去了</a></span><span class="s5">无攸1</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40010/">来生只为一个你</a></span><span class="s5">青莀</span></li>
                    <li><span class="s1">[科幻]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40022/">非酋变欧之路</a></span><span class="s5">似水年华流年</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.xbiquge.la/40/40008/">渡劫十万年</a></span><span
                            class="s5">彩虹麦克白</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40017/">止思</a></span><span class="s5">枫才</span></li>
                    <li><span class="s1">[穿越]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40018/">嫡女策</a></span><span class="s5">永坠黑暗</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.xbiquge.la/39/39996/">甜宠来袭，宝贝萝莉萌翻天！</a></span><span
                            class="s5">萌神浅浅</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a href="http://www.xbiquge.la/40/40007/">日月双幻</a></span><span
                            class="s5">傲天十八</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a
                            href="http://www.xbiquge.la/39/39995/">仙都迷失之蝶</a></span><span class="s5">JOYCE丝丝</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40003/">万能系统大乱斗</a></span><span class="s5">骑着乌龟赛车</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.xbiquge.la/40/40000/">如果有来世</a></span><span
                            class="s5">俗末123</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.xbiquge.la/40/40015/">最强废婿</a></span><span
                            class="s5">纯良书生</span></li>
                    <li><span class="s1">[修真]</span><span class="s2"><a href="http://www.xbiquge.la/40/40002/">修士家族</a></span><span
                            class="s5">子然</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40011/">极道2</a></span><span class="s5">会飞的狗子</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.xbiquge.la/39/39997/">和恶魔财阀的契约婚姻</a></span><span
                            class="s5">夏侯竹衣</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.xbiquge.la/40/40004/">豪门小甜妻</a></span><span
                            class="s5">阿宸</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40016/">RE：西游梦回</a></span><span class="s5">唐门公子木</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40006/">苏白传</a></span><span class="s5">林雨飞</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/39/39999/">重启完美年代</a></span><span class="s5">天所以资</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40009/">卑仙记</a></span><span class="s5">文效</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40024/">超级大能变学神</a></span><span class="s5">秦畅</span></li>
                    <li><span class="s1">[网游]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40005/">网游之缔造者</a></span><span class="s5">怡寶</span></li>
                    <li><span class="s1">[科幻]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40023/">我有一颗小太阳</a></span><span class="s5">烈焰小奶瓶</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40012/">反式攻略手册</a></span><span class="s5">而其何</span></li>
                    <li><span class="s1">[都市]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40001/">都市之妖孽霸王</a></span><span class="s5">脚痕</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a href="http://www.xbiquge.la/40/40020/">君临真武</a></span><span
                            class="s5">叁月拾忆</span></li>
                    <li><span class="s1">[其他]</span><span class="s2"><a
                            href="http://www.xbiquge.la/40/40014/">我是非洲首富</a></span><span class="s5">云贵米线</span></li>

                </ul>

            </div>
            <div class="clear"></div>

        </div>
    </div>
{% endblock %}