{% extends 'body_template.html' %}
{% load staticfiles %}
{% block body %}
    <div id="main">

        <style type="text/css">
            <!--
            ol li, ul li {
                list-style: none;
            }

            #tops_nav {
                margin-top: 15px;
                height: 30px;
                border: 1px solid #9AE6C5;
                background-color: #E3F4E7;
            }

            #tops_nav ol {
                margin: 0 auto;
                width: 960px;
                line-height: 30px;
            }

            #tops_nav ol li {
                float: left;
                padding-top: 0 !important;
                padding-top: 4px;
                width: 320px;
                text-align: center;
            }

            #tops_nav ol li input {
                height: 22px;
                line-height: 22px;
                width: 100px;
                background-color: #DDF2FF;
                border: 1px solid #83B0E1;
            }

            .box {
                float: left;
                padding-top: 25px;
                margin: 25px 4px auto 4px;
                width: 234px;
                height: 300px;
                border-style: solid;
                border-width: 1px;
                position: relative;
            }

            .box h3 {
                top: -13px;
                left: 37px;
                width: 161px;
                height: 24px;
                line-height: 24px;
                border-style: solid;
                border-width: 1px;
                font-size: 12px;
                text-align: center;
                position: absolute;
            }

            .box ul {
                width: 96%;
            }

            .box ul li {
                padding-left: 10px;
                height: 24px;
                line-height: 25px;
                border-bottom: 1px solid #e4e4e4;
                font-size: 12px;
                text-align: left;
                position: relative;
            }

            .box ul li.more {
                border-bottom: 0;
            }

            .box ul li.ltitle span, .box ul li.ltitle span a {
                color: #555;
            }

            .box ul li.ltitle span a, .box ul li.ltitle span a:hover {
                color: #555;
                text-decoration: underline;
            }

            .box ul li a {
                margin-left: 10px;
                line-height: 25px;
                color: #3366BB;
            }

            .box ul li a:hover {
                color: #F60;
                text-decoration: underline;
            }

            .box ul li span {
                right: 10px;
                top: 0px;
                position: absolute;
            }

            .b1, .b1 h3 {
                border-color: #F9CDDE;
            }

            .b1 h3 {
                background-color: #FCDEEA;
            }

            .b2, .b2 h3 {
                border-color: #B0DBEC;
            }

            .b2 h3 {
                background-color: #D6ECF7;
            }

            .b3, .b3 h3 {
                border-color: #EFEAAA;
            }

            .b3 h3 {
                background-color: #FAF1D4;
            }

            .b4, .b4 h3 {
                border-color: #D5E6B9;
            }

            .b4 h3 {
                background-color: #E5F8CB;
            }

            -->
        </style>

        <script language="javascript" type="text/javascript">
            <!--
            $(function ($) {
                $(".ltitle a").click(function () {
                    var pos = $(this).attr('alt');
                    self = $(this).parent().parent().parent();
                    self.hide();
                    self.parent().children('ul').eq(pos).show();
                });
            });
            -->
        </script>



        <div id="main">

            {# 玄幻小说 #}
            <div class="box b1">
                <h3>玄幻·奇幻小说 推荐排行榜</h3>
                <ul>

                    <li class="ltitle">总排名 <span>总 <a href="#" alt="1">周</a><a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zong %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">周排名 <span><a href="#" alt="0">总</a> 周<a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for zh in zhou %}
                        <li><a href="/chapter/?id={{ zh.id }}">{{ zh.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="http://www.xbiquge.la/xuanhuanxiaoshuo/">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">月排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a> 月<a
                            href="#" alt="3">日</a></span></li>
                    {% for yu in yue %}
                        <li><a href="/chapter/?id={{ yu.id }}">{{ yu.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">日排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a><a
                            href="#" alt="2">月</a> 日</span></li>
                    {% for r in ri %}
                        <li><a href="/chapter/?id={{ r.id }}">{{ r.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>


            {# 修真小说。仙侠小说 #}
            <div class="box b2">
                <h3>修真·仙侠小说 推荐排行榜</h3>
                <ul>
                    <li class="ltitle">总排名 <span>总 <a href="#" alt="1">周</a><a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for xiu in zong1 %}
                        <li><a  href="/chapter/?id={{ xiu.id }}">{{ xiu.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">周排名 <span><a href="#" alt="0">总</a> 周<a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for zhen in zhou1 %}
                        <li><a href="/chapter/?id={{ zhen.id }}">{{ zhen.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">月排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a> 月<a
                            href="#" alt="3">日</a></span></li>
                    {% for xiao in yue1 %}
                        <li><a href="/chapter/?id={{ xiao.id }}">{{ xiao.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">日排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a><a
                            href="#" alt="2">月</a> 日</span></li>
                    {% for foo in ri1 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>

            {# 都市青春小说 #}
            <div class="box b3">
                <h3>都市·青春小说 推荐排行榜</h3>
                <ul>
                    <li class="ltitle">总排名 <span>总 <a href="#" alt="1">周</a><a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for do in zong2 %}
                        <li><a href="/chapter/?id={{ do.id }}">{{ do.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">周排名 <span><a href="#" alt="0">总</a> 周<a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zhou2 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">月排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a> 月<a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in yue2 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">日排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a><a
                            href="#" alt="2">月</a> 日</span></li>
                    {% for foo in ri2 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>


            {# 历史穿越小说 #}
            <div class="box b4">
                <h3>历史·穿越小说 推荐</span> 排行榜</h3>
                <ul>
                    <li class="ltitle">总排名 <span>总 <a href="#" alt="1">周</a><a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zong3 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">周排名 <span><a href="#" alt="0">总</a> 周<a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zhou3 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">月排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a> 月<a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in yue3 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">日排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a><a
                            href="#" alt="2">月</a> 日</span></li>
                    {% for foo in ri3 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>


            {# 网游竞技小说 #}
            <div class="box b1">
                <h3>网游·竞技小说推荐排行榜</h3>
                <ul>
                    <li class="ltitle">总排名 <span>总 <a href="#" alt="1">周</a><a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zong4 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">周排名 <span><a href="#" alt="0">总</a> 周<a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zhou4 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">月排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a> 月<a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in yue4 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">日排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a><a
                            href="#" alt="2">月</a> 日</span></li>
                    {% for foo in ri4 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>


            {# 科幻灵异小说 #}
            <div class="box b2">
                <h3>科幻·灵异小说推荐排行榜</h3>
                <ul>
                    <li class="ltitle">总排名 <span>总 <a href="#" alt="1">周</a><a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zong5 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">周排名 <span><a href="#" alt="0">总</a> 周<a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zhou5 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">月排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a> 月<a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in yue5 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">日排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a><a
                            href="#" alt="2">月</a> 日</span></li>
                    {% for foo in ri5 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>


            {# 完本小说 #}
            <div class="box b3">
                <h3>全本小说推荐排行榜</h3>
                <ul>
                    <li class="ltitle">总排名 <span>总 <a href="#" alt="1">周</a><a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zong6 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">周排名 <span><a href="#" alt="0">总</a> 周<a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zhou6 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">月排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a> 月<a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in yue6 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">日排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a><a
                            href="#" alt="2">月</a> 日</span></li>
                    {% for foo in ri6 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>


            {# 全部小说 #}
            <div class="box b4">
                <h3>全部小说推荐排行榜</h3>
                <ul>
                    <li class="ltitle">总排名 <span>总 <a href="#" alt="1">周</a><a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zong7 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">周排名 <span><a href="#" alt="0">总</a> 周<a
                            href="#" alt="2">月</a><a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in zhou7 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">月排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a> 月<a
                            href="#" alt="3">日</a></span></li>
                    {% for foo in yue7 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>


                <ul style="display:none;">
                    <li class="ltitle">日排名 <span><a href="#" alt="0">总</a><a
                            href="#" alt="1">周</a><a
                            href="#" alt="2">月</a> 日</span></li>
                    {% for foo in ri7 %}
                        <li><a href="/chapter/?id={{ foo.id }}">{{ foo.book_name }}</a></li>
                    {% endfor %}
                    <li class="more"><span><a href="#">更多</a></span></li>
                </ul>
            </div>


        </div>


    </div>

{% endblock %}