{% extends 'body_template.html' %}
{% load staticfiles %}

{% block body %}
    <div class="nri">
        <form name="frmlogin" id="frmlogin" method="post"
              action="">
            <div class="cc">
                <div class="txt">账号：</div>
                <div class="inp"><input type="text" name="LoginForm[username]" id="username"></div>
            </div>
            <div class="cc">
                <div class="txt">密码：</div>
                <div class="inp"><input type="password" name="LoginForm[password]" id="password"></div>
            </div>
            <div class="frii"><input type="submit" class="int" value=" "></div>
            <div class="ccc">
                <div class="txtt"><a href="{% url 'retrieve_password' %}">忘记密码</a></div>
                <div class="txtt"><a href="{% url 'register' %}">用户注册</a></div>
            </div>
        </form>
    </div>

{% endblock %}